@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
}

#header {
  height: 79px;
}

#main {
  flex-grow: 1;
}

#footer {
  height: 498px;
}

.title {
  margin: 35vw 0 6vw 0;
  font-size: 13vw;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -3px;
  line-height: normal;
  color: #00C1C1;
}
.title.upcoming {
  margin-top: 15vw;
}

@media screen and (min-width: 421px) {
  .main-txt br {
    display: none;
  }
}
#logo {
  background-image: url(../../images/logo.png);
  position: relative;
  z-index: 1100;
}

#header .inner {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#header #gnb {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  background: #00C1C1;
  transition: left 0.2s;
}
#header .gnb-wrap .inp-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(1) {
  transform: translateY(3.5px) rotate(45deg);
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(2) {
  display: none;
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(3) {
  transform: translateY(-3.5px) rotate(-45deg);
}
#header .gnb-wrap .inp-burger:checked ~ #gnb {
  display: flex;
  left: 0;
}
#header .gnb-wrap .label-burger {
  position: relative;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 30px;
  height: 75px;
  cursor: pointer;
}
#header .gnb-wrap .label-burger .bar {
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.3s;
}

.btn-more {
  display: inline-block;
  background: #000;
  color: #fff;
  font-size: 3.6vw;
  font-weight: 800;
  padding: 12px 24px;
  border-radius: 24px;
  margin-top: 50px;
}

#footer {
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  background: #00C1C1;
}
#footer .ft-logo {
  background-image: url(../../images/logo.png);
}
#footer .address, #footer .call, #footer .copyright {
  color: #fff;
  font-size: 12px;
}
#footer .sns .list-sns {
  display: flex;
}
#footer .sns .list-sns .facebook {
  background-image: url(../../images/icon_facebook.png);
}
#footer .sns .list-sns .insta {
  background-image: url(../../images/icon_instagram.png);
}
#footer .sns .list-sns .kakao {
  background-image: url(../../images/icon_kakaotalk.png);
}
#footer .sns .list-sns .blog {
  background-image: url(../../images/icon_blog.png);
}
#footer .sns .list-sns .shop {
  background-image: url(../../images/icon_shop.png);
}

.first-slide {
  display: flex;
  flex-direction: column;
}
.first-slide .main-game {
  position: relative;
  width: 100%;
  filter: brightness(0.8);
}
.first-slide .main-game::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.first-slide .main-game::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}
.first-slide .slogan {
  position: absolute;
  bottom: 13vw;
  left: 0;
  font-size: 11vw;
  font-weight: 900;
  font-style: italic;
  line-height: normal;
  letter-spacing: -3px;
}
.first-slide .slogan .s-t1 {
  color: #fff;
  text-shadow: 4px 3px #00C1C1;
}
.first-slide .slogan .s-t2 {
  color: #00C1C1;
}

.main-txt {
  font-size: 5vw;
  display: flex;
  word-break: keep-all;
}
.main-txt.txt1 {
  margin-top: 10vw;
}
.main-txt.txt2 {
  margin-top: 2vw;
  font-weight: 600;
  color: #00C1C1;
}

@media screen and (min-width: 421px) {
  .main-txt br {
    display: none;
  }
}
.slide-wrap {
  overflow: hidden;
  margin: 0 -20px;
  padding-left: 20px;
}
.slide-wrap .new-slide {
  width: 88%;
  height: 100%;
  margin: 0;
  overflow: visible;
}
.slide-wrap .new-slide .second-slide {
  display: flex;
  width: 100%;
}
.slide-wrap .new-slide .swiper-pagination {
  position: relative;
  margin-top: 5vw;
}
.slide-wrap .new-slide .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: transparent;
  border: 1px solid #ccc;
  opacity: 1;
}
.slide-wrap .new-slide .swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #00C1C1;
  border: 1px solid transparent;
}

.card {
  height: 89.5vw;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
.card .card-image {
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.card .card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.2vw;
  height: 100%;
}
.card .card-inner .card-main .card-hd {
  font-weight: 700;
  font-size: 4.5vw;
}
.card .card-inner .card-main .card-txt {
  font-size: 4vw;
  color: #444;
}
.card .card-inner .card-ft {
  display: flex;
}
.card .card-inner .card-ft .hash {
  font-size: 2.6vw;
  font-weight: 600;
  padding: 6px 11px;
  background: #ccc;
  border-radius: 12px;
  margin-right: 0.8vw;
}

.our-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 9px;
  margin-bottom: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-games .game-logo {
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.our-games span {
  font-size: 4.4vw;
  font-weight: 800;
  color: #fff;
}
.our-games p {
  letter-spacing: -0.7px;
  margin-top: 0.8vw;
  font-size: 3.8vw;
  color: #fff;
  line-height: normal;
}
.our-games.ttri {
  background-image: url(../../images/mobile/game_ttr.jpg);
}
.our-games .ttri-logo {
  background-image: url(../../images/logo_t2r.png);
}
.our-games.seve {
  background-image: url(../../images/mobile/game_7won.jpg);
}
.our-games .seve-logo {
  background-image: url(../../images/logo_7wonders.png);
}
.our-games.sple {
  background-image: url(../../images/mobile/game_splen.jpg);
}
.our-games .sple-logo {
  background-image: url(../../images/logo_splendor.png);
}
.our-games.dixi {
  background-image: url(../../images/mobile/game_dixit.jpg);
}
.our-games .dixi-logo {
  background-image: url(../../images/logo_dixit.png);
}
.our-games.dobb {
  background-image: url(../../images/mobile/game_dob.jpg);
}
.our-games .dobb-logo {
  background-image: url(../../images/logo_dobble.png);
}

.sec-g .download {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sec-g .download a .files-img {
  width: 100%;
  background-image: url(../../images/mobile/files_rule.jpg);
  background-size: cover;
  background-position: center center;
}
.sec-g .download a .files-img p {
  text-align: center;
  color: #fff;
  font-size: 7.5vw;
  font-weight: 800;
  letter-spacing: 3px;
}
.sec-g .download a.rule {
  margin-top: 0;
}
.sec-g .download a.tool {
  background-image: url(../../images/mobile/files_files.jpg);
}
.sec-g .download a.etc {
  background-image: url(../../images/mobile/files_etc.jpg);
}

.news-slide {
  width: 88%;
  height: 100%;
  margin: 0;
  overflow: visible;
}
.news-slide .third-slide {
  display: flex;
  width: 100%;
  margin: 0;
}
.news-slide .third-slide a {
  display: flex;
  position: relative;
}
.news-slide .third-slide a img {
  width: 100%;
  border-radius: 9px;
}
.news-slide .third-slide a p {
  position: absolute;
  left: 25px;
  bottom: 20px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 6px 11px;
  border-radius: 12px;
  color: #fff;
  background: #00C1C1;
}

hr {
  display: block;
  margin: 70px 0;
}

.cs-center .title {
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  margin-bottom: 0;
  padding: 0;
}
.cs-center .list-cs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}
.cs-center .list-cs li {
  width: 48%;
  height: 48%;
}
.cs-center .list-cs .cs-con {
  background-image: url(../../images/cs_consumer.png);
}
.cs-center .list-cs .cs-dis {
  background-image: url(../../images/cs_distributor.png);
}
.cs-center .list-cs .cs-mar {
  background-image: url(../../images/cs_marketing.png);
}
.cs-center .list-cs .cs-bra {
  background-image: url(../../images/cs_brand.png);
}/*# sourceMappingURL=comm.css.map */