// main slide
.first-slide{
  display: flex;
  flex-direction: column;
  .main-game{
    position: relative;
    width: 100%;
    filter: brightness(0.8);
    &::before{
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-top: 100%;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
    }
  }
  .slogan{
    position: absolute;
    bottom: 13vw;
    left: 0;
    font-size: 11vw; 
    font-weight: 900;
    font-style: italic;
    line-height: normal;
    .s-t1{
      color: $w;
      text-shadow: 4px 3px $primary;
    }
    .s-t2{
      color: $primary;
    }
  }
}
.main-txt{
  font-size: 5vw;
  display: flex;
  &.txt1{
    margin-top: 10vw;
  }
  &.txt2{
    margin-top: 2vw;
    font-weight: 600;
    color: $primary;
    }
}
@media screen and (min-width: 421px) {
  .main-txt br {
    display: none;
  }
}

// new games slide
.new-slide {
  width: 100%;
  height: 100%;
  .second-slide {
    display: flex;
    width: 80%;
  }
  .swiper-pagination{
    position: relative;
    margin-top: 5vw;
  }
  .swiper-pagination-bullet{
    width: 7px;
    height: 7px;
    background: transparent;
    border: 1px solid $secondary;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    width: 40px;
    transition: width .5s;
    border-radius: 5px;
    background: $primary;
    border: 1px solid transparent;
  }
}


// card style
  // main : new games
  .card{
    width: 80vw;
    height: 89.5vw;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    border: 1px solid $secondary;
    .card-image{
      border-radius: 9px 9px 0 0;
    }
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .card-inner{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5.2vw;
      height: 100%;
      .card-main{
        .card-hd{
          font-weight: 700;
          font-size: 4.5vw;
        }
        .card-txt{
          font-size: 4vw;
          color: $txtsecon;
        }
      }
      .card-ft{
        display: flex;
        .hash{
          font-size: 2.6vw;
          font-weight: 600;
          padding: 6px 11px;
          background: $secondary;
          border-radius: 12px;
          margin-right: 0.8vw;
        }
      }
    }
  }
    // main our games
    // 사이즈 수정 필요
    // 마진 값 수정 필요
    // 배경에 블랙 깔기
    // 로고 사이즈 수정
  .our-games{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 9px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    .game-logo{
      // position: absolute;
      // margin: 206px 48px 7px 48px;
      text-indent: -9999px;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    span{
      font-size: 4.4vw;
      font-weight: 800;
      color: $w;
    }
    p{
      letter-spacing: -0.7px;
      margin-top: 0.8vw;
      font-size: 3.8vw;
      color: $w;
      line-height: normal;
    }
    &.ttri{
      background-image: url(../../images/mobile/game_ttr.jpg);
    }
    .ttri-logo{
      background-image: url(../../images/logo_t2r.png);
    }
    &.seve{
      background-image: url(../../images/mobile/game_7won.jpg);
    }
    .seve-logo{
      background-image: url(../../images/logo_7wonders.png);
    }
    &.sple{
      background-image: url(../../images/mobile/game_splen.jpg);
    }
    .sple-logo{
      background-image: url(../../images/logo_splendor.png);
    }
    &.dixi{
      background-image: url(../../images/mobile/game_dixit.jpg);
    }
    .dixi-logo{
      background-image: url(../../images/logo_dixit.png);
    }
    &.dobb{
      background-image: url(../../images/mobile/game_dob.jpg);
    }
    .dobb-logo{
      background-image: url(../../images/logo_dobble.png);
    }
  }

.sec-g{
  .download{
    display: flex;
    flex-direction: column;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 358px;
      // height: 180px;
      width: 100%;
      border-radius: 12px;
      color: $w;
      font-size: 7.5vw;
      font-weight: 800;
      letter-spacing: 3px;
      background-size: cover;
      margin-top: 15px;
    }
    .rule{
      background-image: url(../../images/mobile/files_rule.jpg);
    }
    .tool{
      background-image: url(../../images/mobile/files_files.jpg);
    }
    .etc{
      background-image: url(../../images/mobile/files_etc.jpg);
    }
  }
}

// recent news
// 검은 배경 깔기
.news-slide {
  .third-slide {
    // position: relative;
    display: flex;
    width: 80%;
    p{
      position: absolute;
      left: 25px;
      bottom: 20px;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: -0.5px;
      padding: 6px 11px;
      border-radius: 12px;
      color: $w;
      background: $primary;
    }
    a{
      display: flex;
      position: relative;
      width: 358px;
      height: 347px;
      img{
        border-radius: 9px;
      }
    }
  }
}


hr{
  display: block;
  margin: 70px 0;
}

// 수정중
.cs-center{
  .title{
  text-indent: -9999px;
  line-height: 0;
  font-size: 0;
  margin-bottom: 0;
  padding: 0;
  }
  .list-cs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    li{
      width: 48%;
      height: 48%;
    }
    .cs-con{
      background-image: url(../../images/cs_consumer.png);
    }
    .cs-dis{
      background-image: url(../../images/cs_distributor.png);
    }
    .cs-mar{
      background-image: url(../../images/cs_marketing.png);
    }
    .cs-bra{
      background-image: url(../../images/cs_brand.png);
    }
  }
}