@import 'variables','mixin','fonts','reset';

// 공통으로 쓰이는 스타일들
.title{
  font-size: 52px;
  font-weight: 900;
  letter-spacing: -2px;
  color: $primary;
  transform: skew(-12deg, 0);
}

//layout
.wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.inner{
  max-width: 1280px;
  margin: 0 auto;
}
#header{
  height: $hdH;
}
#main{
  flex-grow: 1;
}
#footer{
  height: $ftH;
}

//header
#logo{
  background-image: url(../../images/logo.png);
  position: relative;
  z-index: 1100;
}
#header{
  .inner{
    display: flex;
    @include flex($justify: space-between)
  }

  #gnb{
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    background: $primary;
    transition: left 0.2s;
  }

  .gnb-wrap{
    .inp-burger{
      // 체크박스 없애기
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: none;
      opacity: 0;
      visibility: hidden;
      // input(체크박스) 체크 됐을 때
      &:checked{
        &+ .label-burger{
          .bar{
            &:nth-child(1){
              transform: translateY(3.5px) rotate(45deg);
            }
            &:nth-child(2){
              display: none;
            }
            &:nth-child(3){
              transform: translateY(-3.5px) rotate(-45deg);
            }
          }
        }
        // gnb가 체크 됐을 때
        & ~ #gnb{
          display: flex;
          left: 0;
        }
      }
    }

    // 선택 안 됐을 때 디자인
    .label-burger{
      position: relative;
      z-index: 1100;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 30px;
      height: 70px;
      cursor: pointer;
      .bar{
        display: block;
        width: 20px;
        height: 3px;
        background: $b;
        border-radius: 3px;
        transition: all 0.3s;
      }
    }
  }
}

// main slide
.swiper-slide{
  height: 600px;
  position: relative;
  &.dix{
    background-image: url(../../images/main_1dixit.png);
  }
  &.t2r{
    background-image: url(../../images/main_2t2r.png);
  }
  &.spl{
    background-image: url(../../images/main_3splendor.png);
  }
  &.dob{
    background-image: url(../../images/main_4dobble.png);
  }
  .slogan{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}


.main-txt{
  font-size: 20px;
  &txt1{
    font-weight: 400;
  }
  &.txt2{
    font-weight: 600;
    color: $primary;
    }
}

// btn style
.btn-more{
  // 가로 길이 설정하기
  display: flex;
  height: 40px;
  border-radius: 25px;
  background: $b;
  color: $w;
}

// card style
  // main new games
.card{
  height: 400px;
  width: 350px;
  border-radius: 15px;
  display: inline-block;
  margin: 30px 30px 0 30px;
  position: relative;
  overflow: hidden;
  .card-image{
    width: 100%;
    height: 270px;
    border-radius: 15px 15px 0 0;
    background-image: url(../../images/b_canopy.jpg);
    // image size 수정
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-hd{
    font-weight: 700;
    font-size: 19px;
  }
  .card-txt{
    font-weight: 400;
    font-size: 16px;
    color: $txtsecon;
  }
  // card-ft hashtag 작업할 것
  .card-ft{
    display: flex;
    .hash{
      margin-right: 5px;
      background: $secondary;
      border-radius: 12px;
    }
  }
}
  // main our games
.our-games{
  display: flex;
  
  height: 500px;
  &.ttr{
    background-image: url(../../images/main_2t2r.png);
    .ttr-logo{
      width: 100%;
      background-image: url(../../images/logo_t2r.png);
      background-repeat: no-repeat;
    }
  }
  // background-image: url(../../images/logo_t2r.png);
}

// list style

// layout

// header

// footer

@import 'main','sub1';